<html> <!--.ejs-->
<head>
  <meta name="viewport" content="width=500, initial-scale=1"> <!--This line of code is for mobile responsive -->
</head>

<body bgcolor="#FFFFF2">
  <div class="BorderMargin">
    <form action="/boiler/on" method="post">
      <button type="submit" class="button4">보일러 On </button>
        <button type="submit" formmethod="post" formaction="/boiler/off" class="button1">보일러 Off </button>
    </form>

    <form action="/water/button" method="post">
      <button type="submit" class="button3">온수 button </button>
        <!--<button type="submit" formmethod="post" formaction="/water/off" class="button4">온수 Off </button>-->
    </form>

    <a>현재 상태: <%=status %></a>

  </div>

</body>


  <style>

  /*  background-color:  #285943; */

    .button0 {
        background-color:  #8CD790;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    /*.button2 {background-color: #008CBA;} /* Blue */
    /*.button3 {background-color: #f44336;} /* Red */
    .button1 {
        background-color:  #77AF9C;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button3 {
        background-color:  #285943;
        border: none;
        color: white;
        padding: 15px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button4 {
        background-color:  #8CD790;
        border: none;
        color: white;
        padding: 15px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    /*.button4 {background-color: #e7e7e7; color: black;} /* Gray */
    /*.button5 {background-color: #555555;} /* Black */

/*
   .BorderMargin {

       margin: 10px;
       padding: 10px;
       max-width: 300px;
       height: 300px;
       border: 1px solid black;
    } */



    #footer {
       position:fixed;
       left:0px;
       bottom:0px;
       height:60px;
       width:100%;
       background:#3F4B3B;
       color: white;
    }
    #footer p {
       text-align: center;
    }

  </style>
</html>
